/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require select2
 *= require select2-bootstrap
 *= require bootstrap-editable.css
 *= require_tree .
 *= require_self
 */


 @import "bootstrap-sprockets";
 @import "bootstrap";


 .box2{
 	float:right;
 	margin-top:15px;   
    margin-right:150px;
    
}
.left_menu{
	float:left;
	height:800px;
	width:19%;
	border:1px;
	margin-left:-15px;
	background:#CADDEB;
	margin-top:-20px;

}

.menu_son{
	#height:120px;
	width:100%;
	border:1px ;
	backguround:#F6F8FA;
	text-align:center;
	text-color:#FFF;
	line-height:120px;
}